.form-step {
    display: none;
}

input[type="radio"]:nth-of-type(1):checked ~ #step-1-content,
input[type="radio"]:nth-of-type(2):checked ~ #step-2-content,
input[type="radio"]:nth-of-type(3):checked ~ #step-3-content {
    display: block;
}

.next, .prev {
    cursor: pointer;
    color: #430f58;
    text-decoration: underline;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    background-image: url('https://img.freepik.com/free-photo/assortment-natural-material-stationery_23-2148898257.jpg?t=st=1721844820~exp=1721848420~hmac=ea545a838913f3b1764a6e285f104c2779e5b16abeb90fd2434cd5160d16e90c&w=900');
    background-size: 100vw 100vh; 
    background-position: center; 
    background-repeat: no-repeat;
}

.container {
    background-color: #cbf078;
    height: auto; 
    width: 500px;
    border-radius: 15px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 14px 25px 10px #859660;
    justify-content: center;
}

.brand-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.inputs label {
    display: block;
    margin: 10px 0 5px;
}

.inputs input, .inputs select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.gender-selection {
    display: flex;
    align-items: center;
}

.gender-option {
    display: flex;
    align-items: center;
    margin-right: 5px; 
}

.gender-option label {
    margin-left: 10px;
    line-height: 1.5;
}

.error {
    color: red;
    font-size: 12px;
}
